logs
project/project
project/target
target
.target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
node_modules
.DS_Store
*.i*
vf*
.project
.classpath
.factorypath
target/
.settings/
.springBeans
/out/

