<!-- Menu (accueil) -->
<nav id="navigationMain" role="navigation">
	<ul class="pa0">
		<li class="">
			<a class="button row icon icon-bracket2 after" href="#/listesEnCours">Les listes en cours</a>
		</li>
		<li class="mt1">
			<a class="button row icon icon-bracket2 after" href="#/creationListe">Créer une liste vierge</a>
		</li>
		<li class="mt1">
			<a class="button row icon icon-bracket2 after" href="#creationListeModele">Créer une liste depuis modèle</a>
		</li>
		<li class="mt1">
			<a class="button row icon icon-bracket2 after" href="#listesArchivees">Les listes archivées</a>
		</li>
		<li class="mt1 row button icon icon-bracket2 after">Discussion temps réel</li>
	</ul>
</nav>
